.container {
    display: flex;
    flex-direction: column;
}

.hero-info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 20px;
}

.hero-bio {
    flex: 1 1 70%;
    margin-right: 20px; /* Adjust as needed */
}

.infobox {
    flex: 0 0 auto; /* Adjust the width as needed */
    align-self: flex-start;
    border: 2px solid black; /* Add dual line border */
    padding: 10px; /* Add padding to create space around the content */
    margin: 0 10px; /* Add margin to create space between infobox and hero-bio */
    position: relative;
    text-align: center; /* Center-align the content */
}

.infobox img {
    width: 150px; /* Adjust width as needed */
    height: 150px; /* Adjust height as needed */
    margin-bottom: 10px; /* Add margin to separate the image from the table */
}

.emblem-container {
    position: relative; /* Change position to relative */
    text-align: center; /* Center-align the content */
}

.emblem-container img {
    max-width: 80px; /* Adjust the size as needed */
    height: auto; /* Maintain aspect ratio */
}

/* Image */
.hero-info .infobox img {
    margin-bottom: 10px; /* Add margin to separate the image from the table */
}

.info-table {
    width: 100%; /* Make the table fill the container */
    border-collapse: collapse; /* Collapse the borders of the table */
    margin-top: 20px; /* Add margin to separate the table from other content */
}

.info-table th,
.info-table td {
    border: 1px solid black; /* Add border to table cells */
    padding: 8px; /* Add padding to table cells */
    text-align: center; /* Center-align text in table cells */
}

.info-table th {
    background-color: lightgray; /* Add background color to header row */
}

.info-table tr:nth-child(even) {
    background-color: #f2f2f2; /* Add background color to even rows */
}

.info-table tr:nth-child(odd) {
    background-color: white; /* Add background color to odd rows */
}

.power {
    margin-bottom: 10px;
}
.blog-container {
    background-color: #f6f8fa;
    border: 1px solid #d1d5da;
    border-radius: 6px;
    padding: 16px;
    margin-bottom: 16px;
}

.blog-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
}

.blog-content {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 8px;
}

.blog-info {
    font-size: 14px;
    color: #586069;
}

.blog-info-item {
    margin-right: 8px;
}

.blog-info-item:last-child {
    margin-right: 0;
}

.blog-container {
    position: relative;
}

.delete-wrapper {
    position: absolute;
    top: 0;
    right: 0;
}

.trash-icon {
    width: 24px; /* Adjust icon size as needed */
    height: 24px; /* Adjust icon size as needed */
}

.hero-name-row {
    background-color: #f2f2f2; /* Light gray background color */
    padding: 10px;
    text-align: center;
}

